BUGS
mk_release.sh
release_labels.txt
RCS
TIDY
man/RCS/
man/backup/
man/checkin.sh
man/checkout.sh
R/RCS/
R/checkin.sh
R/checkout.s*
src/*.o
src/*.so
src/symbols.rds
src/checkin.sh
src/checkout.sh
src/RCS/
